/* BASIC STYLES HERE */





main {
  background-color: #000000e9;
}



.question-card {
  min-height: 20vh;
  background-color: wheat;
  border-radius: 14px;
  border: solid black;
  margin: 0.5em;
  padding: 1em;
}